<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<mapper resource="sqlmap/Admin.xml"/>
		<mapper resource="sqlmap/Branch.xml"/>
		<mapper resource="sqlmap/Detail.xml"/>
		<mapper resource="sqlmap/Order.xml"/>
		<mapper resource="sqlmap/Product.xml"/>
		<mapper resource="sqlmap/ProductCategory.xml"/>
		<mapper resource="sqlmap/Stock.xml"/>
	</mappers>

</configuration>